@{
    ViewData["Title"] = "Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card form-control">
    <div class="card-title" style="font-size:larger;font-weight:bold;font-style:oblique">
        My Hospital
    </div>
    <div class="card-body col-12" style="">
        <div claas="box-title" Style="color:black;font-weight:bold;font-style:oblique;font-size:large">Select Which Ward Patient You Want On Screen</div>
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="Index" asp-route-id="Fourth Floor">Fourth Floor</a><br />
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="Index" asp-route-id="Third Floor">Third Floor</a><br />
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="Index" asp-route-id="First Floor">First Floor</a><br />
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="Index" asp-route-id="Ground Floor">Ground Floor</a><br />
        <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="Index" asp-route-id="Lower Ground">Lower Ground</a><br />
       @* <a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="ForthICU" asp-action="BootstrapIndex">Using Bootstrap Private/Semi Private Area</a><br />
*@        @*<a style="font-style:oblique;font-size:large;font-weight:bold" asp-controller="" asp-action="Eminence"></a>*@
    </div>

    @*<table class="table table-responsive table-bordered table-hover table-striped">
        <thead class="border border-dark border-3" style="font-size:larger">
            <tr>
                <td class="bg-primary" style="color:black;font-weight:bolder">
                    Sr. No.
                </td>
                <td class="bg-secondary" style="color:black;font-weight:bolder">
                    Name
                </td>
                <td class="bg-success" style="color:black;font-weight:bolder">
                    Consultant
                </td>
                <td class="bg-danger" style="color:black;font-weight:bolder">
                    D.O.A
                </td>
                <td class="bg-warning" style="color:black;font-weight:bolder">
                    Ward
                </td>
                <td class="bg-info" style="color:black;font-weight:bolder">
                    Croom
                </td>
            </tr>
        </thead>
        <tbody class="border border-dark border-3" style="font-size:larger">
            @{
                if (Model.Count() != 0)
                {
                    @foreach (var item in Model.Select((a, i) => new { Data = a, Index = i + 1 }))
                    {
                        <tr style="color:black;font-weight:500;font-style:oblique">
                            <td class="bg-primary">
                                @item.Index
                            </td>
                            <td class="bg-secondary">
                                @Html.DisplayFor(Model => item.Data.Pname)
                            </td>
                            <td class="bg-success">
                                @Html.DisplayFor(Model => item.Data.Docid)
                            </td>
                            <td class="bg-danger">
                                @Html.DisplayFor(Model => item.Data.Jdate)
                            </td>
                            <td class="bg-warning">
                                @Html.DisplayFor(Model=>item.Data.Ward)
                            </td>
                            <td class="bg-info">
                                @Html.DisplayFor(model=>item.Data.Croom)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <a>No data foud</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>*@
</div>

